{
  "swagger": "2.0",
  "info": {
    "title": "Quick Base API",
    "version": "1.0.0"
  },
  "host": "api.quickbase.com/v1",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/apps": {
      "post": {
        "description": "Creates an application in an account. You must have application creation rights in the respective account. Main properties and application variables can be set with this API.",
        "parameters": [
          {
            "name": "QB-Realm-Hostname",
            "description": "Your Quick Base domain, for example demo.quickbase.com",
            "required": true,
            "in": "header",
            "example": "demo.quickbase.com",
            "type": "string"
          },
          {
            "name": "User-Agent",
            "description": "Information is entered by the person or utility invoking the API. Choose between the default in your toolkit or custom create it. Being as descriptive as possible will help in identification and troubleshooting.",
            "required": false,
            "in": "header",
            "example": "FileService_Integration_V2.1",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "The Quick Base authentication scheme you are using to authenticate the request, as described on the [authentication page](../auth).",
            "required": true,
            "in": "header",
            "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "description": "The example below shows all the properties that can be set with this request. Additional properties that you can see, with the corresponding GET request, cannot be set through this API. See individual property descriptions below for details on how to set or change each.",
              "example": {
                "value": {
                  "name": "My App",
                  "description": "My first app",
                  "assignToken": true,
                  "variables": [
                    {
                      "name": "Variable1",
                      "value": "Value1"
                    }
                  ]
                }
              },
              "type": "object",
              "additionalProperties": true,
              "required": [
                "name"
              ],
              "properties": {
                "assignToken": {
                  "description": "Set to true if you would like to assign the app to the user token you used to create the application. The default is false.",
                  "example": false,
                  "type": "boolean"
                },
                "variables": {
                  "description": "The app variables. See [About Application Variables](https://help.quickbase.com/user-assistance/variables.html)",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "required": [
                      "name",
                      "value"
                    ],
                    "properties": {
                      "name": {
                        "description": "The name for the variable.",
                        "type": "string"
                      },
                      "value": {
                        "description": "The value for the variable.",
                        "type": "string"
                      }
                    }
                  }
                },
                "name": {
                  "description": "The app name. You are allowed to create multiple apps with the same name, in the same realm, because they will have different dbid values. We urge you to be careful about doing this.",
                  "type": "string"
                },
                "description": {
                  "description": "The description for the app. If this property is left out, the app description will be blank.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "x-amf-examples": {
                "Simple Application": {
                  "created": "2020-03-27T18:34:12.000Z",
                  "dateFormat": "MM-DD-YYYY",
                  "description": "My testing app",
                  "hasEveryoneOnTheInternet": true,
                  "id": "bpqe82s1",
                  "name": "Testing App",
                  "timeZone": "(UTC-08:00) Pacific Time (US & Canada)",
                  "updated": "2020-04-03T19:12:20.000Z"
                },
                "Application with defined variables": {
                  "description": "This examples shows the response of an application that contains one or more variables.",
                  "value": {
                    "created": "2020-03-27T18:34:12.000Z",
                    "dateFormat": "MM-DD-YYYY",
                    "description": "My testing app",
                    "hasEveryoneOnTheInternet": true,
                    "id": "bpqe82s1",
                    "name": "Testing App",
                    "timeZone": "(UTC-08:00) Pacific Time (US & Canada)",
                    "variables": [
                      {
                        "name": "John Smith",
                        "value": "Engineer"
                      },
                      {
                        "name": "Jane Smith",
                        "value": "Administrator"
                      }
                    ],
                    "updated": "2020-04-03T19:12:20.000Z"
                  }
                }
              },
              "type": "object",
              "additionalProperties": true,
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "description": "The app name. You are allowed to create multiple apps with the same name, in the same realm, because they will have different dbid values. We urge you to be careful about doing this.",
                  "type": "string"
                },
                "description": {
                  "description": "The description for the app. If this property is left out, the app description will be blank.",
                  "type": "string"
                },
                "created": {
                  "description": "The time and date the app was created, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
                  "type": "string"
                },
                "updated": {
                  "description": "The time and date the app was last updated, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
                  "type": "string"
                },
                "dateFormat": {
                  "description": "A description of the format used when displaying date values in this app. Note that this is a browser-only parameter - see the [Field type details](../fieldInfo) page in the API Guide for how time values are returned in API calls. See [About Localizing Dates](https://help.quickbase.com/user-assistance/about_localizing_dates_numbers.html) to set the app’s date format.",
                  "type": "string"
                },
                "timeZone": {
                  "description": "A description of the time zone used when displaying time values in this app. Note that this is a browser-only parameter - see the [Field type details](../fieldInfo) page in the portal for how time values are returned in API calls. See [Set the Time Zone for Both the Application and the Account](https://help.quickbase.com/user-assistance/application_local_timezone.html) to set the application’s time zone.",
                  "type": "string"
                },
                "id": {
                  "description": "The unique identifier for this application.",
                  "type": "string"
                },
                "hasEveryoneOnTheInternet": {
                  "description": "Indicates whether app includes Everyone On The Internet access. See [Sharing apps with Everyone on the Internet (EOTI).](https://help.quickbase.com/user-assistance/share_with_everyone_on_internet.html)",
                  "type": "boolean"
                },
                "variables": {
                  "description": "The app variables. See [About Application Variables](https://help.quickbase.com/user-assistance/variables.html)",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "name": {
                        "description": "Variable name.",
                        "type": "string"
                      },
                      "value": {
                        "description": "Variable value.",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Create an app",
        "operationId": "createApp",
        "tags": [
          "Apps"
        ]
      }
    },
    "/apps/{appId}": {
      "parameters": [
        {
          "name": "appId",
          "description": "The unique identifier of an app",
          "required": true,
          "in": "path",
          "example": "bp2ryku2u",
          "type": "string"
        }
      ],
      "get": {
        "description": "Returns the main properties of an application, including application variables.",
        "parameters": [
          {
            "name": "QB-Realm-Hostname",
            "description": "Your Quick Base domain, for example demo.quickbase.com",
            "required": true,
            "in": "header",
            "example": "demo.quickbase.com",
            "type": "string"
          },
          {
            "name": "User-Agent",
            "description": "Information is entered by the person or utility invoking the API. Choose between the default in your toolkit or custom create it. Being as descriptive as possible will help in identification and troubleshooting.",
            "required": false,
            "in": "header",
            "example": "FileService_Integration_V2.1",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "The Quick Base authentication scheme you are using to authenticate the request, as described on the [authentication page](../auth).",
            "required": true,
            "in": "header",
            "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "x-amf-examples": {
                "Simple Application": {
                  "created": "2020-03-27T18:34:12.000Z",
                  "dateFormat": "MM-DD-YYYY",
                  "description": "My testing app",
                  "hasEveryoneOnTheInternet": true,
                  "id": "bpqe82s1",
                  "name": "Testing App",
                  "timeZone": "(UTC-08:00) Pacific Time (US & Canada)",
                  "updated": "2020-04-03T19:12:20.000Z"
                },
                "Application with defined variables": {
                  "description": "This examples shows the response of an application that contains one or more variables.",
                  "value": {
                    "created": "2020-03-27T18:34:12.000Z",
                    "dateFormat": "MM-DD-YYYY",
                    "description": "My testing app",
                    "hasEveryoneOnTheInternet": true,
                    "id": "bpqe82s1",
                    "name": "Testing App",
                    "timeZone": "(UTC-08:00) Pacific Time (US & Canada)",
                    "variables": [
                      {
                        "name": "John Smith",
                        "value": "Engineer"
                      },
                      {
                        "name": "Jane Smith",
                        "value": "Administrator"
                      }
                    ],
                    "updated": "2020-04-03T19:12:20.000Z"
                  }
                }
              },
              "type": "object",
              "additionalProperties": true,
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "description": "The app name. You are allowed to create multiple apps with the same name, in the same realm, because they will have different dbid values. We urge you to be careful about doing this.",
                  "type": "string"
                },
                "description": {
                  "description": "The description for the app. If this property is left out, the app description will be blank.",
                  "type": "string"
                },
                "created": {
                  "description": "The time and date the app was created, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
                  "type": "string"
                },
                "updated": {
                  "description": "The time and date the app was last updated, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
                  "type": "string"
                },
                "dateFormat": {
                  "description": "A description of the format used when displaying date values in this app. Note that this is a browser-only parameter - see the [Field type details](../fieldInfo) page in the API Guide for how time values are returned in API calls. See [About Localizing Dates](https://help.quickbase.com/user-assistance/about_localizing_dates_numbers.html) to set the app’s date format.",
                  "type": "string"
                },
                "timeZone": {
                  "description": "A description of the time zone used when displaying time values in this app. Note that this is a browser-only parameter - see the [Field type details](../fieldInfo) page in the portal for how time values are returned in API calls. See [Set the Time Zone for Both the Application and the Account](https://help.quickbase.com/user-assistance/application_local_timezone.html) to set the application’s time zone.",
                  "type": "string"
                },
                "id": {
                  "description": "The unique identifier for this application.",
                  "type": "string"
                },
                "hasEveryoneOnTheInternet": {
                  "description": "Indicates whether app includes Everyone On The Internet access. See [Sharing apps with Everyone on the Internet (EOTI).](https://help.quickbase.com/user-assistance/share_with_everyone_on_internet.html)",
                  "type": "boolean"
                },
                "variables": {
                  "description": "The app variables. See [About Application Variables](https://help.quickbase.com/user-assistance/variables.html)",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "name": {
                        "description": "Variable name.",
                        "type": "string"
                      },
                      "value": {
                        "description": "Variable value.",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get an app",
        "operationId": "getApp",
        "tags": [
          "Apps"
        ]
      },
      "post": {
        "description": "Updates the main properties and/or application variables for a specific application.",
        "parameters": [
          {
            "name": "QB-Realm-Hostname",
            "description": "Your Quick Base domain, for example demo.quickbase.com",
            "required": true,
            "in": "header",
            "example": "demo.quickbase.com",
            "type": "string"
          },
          {
            "name": "User-Agent",
            "description": "Information is entered by the person or utility invoking the API. Choose between the default in your toolkit or custom create it. Being as descriptive as possible will help in identification and troubleshooting.",
            "required": false,
            "in": "header",
            "example": "FileService_Integration_V2.1",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "The Quick Base authentication scheme you are using to authenticate the request, as described on the [authentication page](../auth).",
            "required": true,
            "in": "header",
            "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "description": "The example below shows all the properties that can be changed with this request. Additional properties that you can see with the corresponding GET request cannot be set through this API. See individual property descriptions below for details on how to set or change each.",
              "example": {
                "value": {
                  "name": "My App",
                  "description": "My first app",
                  "variables": [
                    {
                      "name": "Variable1",
                      "value": "Value1"
                    }
                  ]
                }
              },
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "name": {
                  "description": "The name for the app.",
                  "type": "string"
                },
                "description": {
                  "description": "The description for the app.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "x-amf-examples": {
                "Simple Application": {
                  "created": "2020-03-27T18:34:12.000Z",
                  "dateFormat": "MM-DD-YYYY",
                  "description": "My testing app",
                  "hasEveryoneOnTheInternet": true,
                  "id": "bpqe82s1",
                  "name": "Testing App",
                  "timeZone": "(UTC-08:00) Pacific Time (US & Canada)",
                  "updated": "2020-04-03T19:12:20.000Z"
                },
                "Application with defined variables": {
                  "description": "This examples shows the response of an application that contains one or more variables.",
                  "value": {
                    "created": "2020-03-27T18:34:12.000Z",
                    "dateFormat": "MM-DD-YYYY",
                    "description": "My testing app",
                    "hasEveryoneOnTheInternet": true,
                    "id": "bpqe82s1",
                    "name": "Testing App",
                    "timeZone": "(UTC-08:00) Pacific Time (US & Canada)",
                    "variables": [
                      {
                        "name": "John Smith",
                        "value": "Engineer"
                      },
                      {
                        "name": "Jane Smith",
                        "value": "Administrator"
                      }
                    ],
                    "updated": "2020-04-03T19:12:20.000Z"
                  }
                }
              },
              "type": "object",
              "additionalProperties": true,
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "description": "The app name. You are allowed to create multiple apps with the same name, in the same realm, because they will have different dbid values. We urge you to be careful about doing this.",
                  "type": "string"
                },
                "description": {
                  "description": "The description for the app. If this property is left out, the app description will be blank.",
                  "type": "string"
                },
                "created": {
                  "description": "The time and date the app was created, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
                  "type": "string"
                },
                "updated": {
                  "description": "The time and date the app was last updated, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
                  "type": "string"
                },
                "dateFormat": {
                  "description": "A description of the format used when displaying date values in this app. Note that this is a browser-only parameter - see the [Field type details](../fieldInfo) page in the API Guide for how time values are returned in API calls. See [About Localizing Dates](https://help.quickbase.com/user-assistance/about_localizing_dates_numbers.html) to set the app’s date format.",
                  "type": "string"
                },
                "timeZone": {
                  "description": "A description of the time zone used when displaying time values in this app. Note that this is a browser-only parameter - see the [Field type details](../fieldInfo) page in the portal for how time values are returned in API calls. See [Set the Time Zone for Both the Application and the Account](https://help.quickbase.com/user-assistance/application_local_timezone.html) to set the application’s time zone.",
                  "type": "string"
                },
                "id": {
                  "description": "The unique identifier for this application.",
                  "type": "string"
                },
                "hasEveryoneOnTheInternet": {
                  "description": "Indicates whether app includes Everyone On The Internet access. See [Sharing apps with Everyone on the Internet (EOTI).](https://help.quickbase.com/user-assistance/share_with_everyone_on_internet.html)",
                  "type": "boolean"
                },
                "variables": {
                  "description": "The app variables. See [About Application Variables](https://help.quickbase.com/user-assistance/variables.html)",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "name": {
                        "description": "Variable name.",
                        "type": "string"
                      },
                      "value": {
                        "description": "Variable value.",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Update an app",
        "operationId": "updateApp",
        "tags": [
          "Apps"
        ]
      },
      "delete": {
        "description": "Deletes an entire application, including all of the tables and data.",
        "parameters": [
          {
            "name": "QB-Realm-Hostname",
            "description": "Your Quick Base domain, for example demo.quickbase.com",
            "required": true,
            "in": "header",
            "example": "demo.quickbase.com",
            "type": "string"
          },
          {
            "name": "User-Agent",
            "description": "Information is entered by the person or utility invoking the API. Choose between the default in your toolkit or custom create it. Being as descriptive as possible will help in identification and troubleshooting.",
            "required": false,
            "in": "header",
            "example": "FileService_Integration_V2.1",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "The Quick Base authentication scheme you are using to authenticate the request, as described on the [authentication page](../auth).",
            "required": true,
            "in": "header",
            "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {
                "name": "Name of an application to delete"
              },
              "type": "object",
              "additionalProperties": true,
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "description": "To confirm application deletion we ask for application name.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "deletedAppId": "bqhskthaq"
              },
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "deletedAppId": {
                  "description": "An ID of deleted application.",
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Delete an app",
        "operationId": "deleteApp",
        "tags": [
          "Apps"
        ]
      }
    },
    "/tables": {
      "post": {
        "description": "Creates a table in an application.",
        "parameters": [
          {
            "name": "appId",
            "description": "The unique identifier of an app",
            "required": true,
            "in": "query",
            "example": "bp2ryku2u",
            "type": "string"
          },
          {
            "name": "QB-Realm-Hostname",
            "description": "Your Quick Base domain, for example demo.quickbase.com",
            "required": true,
            "in": "header",
            "example": "demo.quickbase.com",
            "type": "string"
          },
          {
            "name": "User-Agent",
            "description": "This is entered by the person or utility invoking the API. You might custom create this or use the default one of your toolkit. Being descriptive here may offer more identification and troubleshooting capabilities.",
            "required": false,
            "in": "header",
            "example": "FileService_Integration_V2.1",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "The Quick Base authentication scheme you are using to authenticate the request, as described on the [authentication page](../auth).",
            "required": true,
            "in": "header",
            "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "description": "The example below shows all the properties that can be changed with this request. Additional properties that you can see with the corresponding GET request cannot be set through this API.",
              "example": {
                "name": "My table",
                "description": "my first table",
                "singleRecordName": "record",
                "pluralRecordName": "records"
              },
              "type": "object",
              "additionalProperties": true,
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "description": "The name for the table.",
                  "type": "string",
                  "minLength": 1
                },
                "pluralRecordName": {
                  "description": "The plural noun for records in the table. If this value is not passed the default value is 'Records'.",
                  "type": "string"
                },
                "singleRecordName": {
                  "description": "The singular noun for records in the table. If this value is not passed the default value is 'Record'.",
                  "type": "string"
                },
                "description": {
                  "description": "The description for the table. If this value is not passed the default value is blank.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "name": "Example Table",
                "created": "2020-03-27T18:34:40.000Z",
                "updated": "2020-04-03T19:12:40.000Z",
                "alias": "_dbid_example_table",
                "description": "Table as a example.",
                "id": "bpqe82s0",
                "nextRecordId": 1,
                "nextFieldId": 1,
                "defaultSortFieldId": 2,
                "defaultSortOrder": "ASC",
                "keyFieldId": 3,
                "singleRecordName": "Example Record",
                "pluralRecordName": "Example Records",
                "sizeLimit": "150 MB",
                "spaceUsed": "17 MB",
                "spaceRemaining": "133 MB"
              },
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "name": {
                  "description": "The name of the table.",
                  "type": "string"
                },
                "id": {
                  "description": "The unique identifier (dbid) of the table.",
                  "type": "string"
                },
                "alias": {
                  "description": "The automatically-created table alias for the table.",
                  "type": "string"
                },
                "description": {
                  "description": "The description of the table, as configured by an application administrator.",
                  "type": "string"
                },
                "created": {
                  "description": "The time and date when the table was created, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
                  "type": "string"
                },
                "updated": {
                  "description": "The time and date when the table schema or data was last updated, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
                  "type": "string"
                },
                "nextRecordId": {
                  "description": "The incremental Record ID that will be used when the next record is created, as determined when the API call was ran.",
                  "type": "integer"
                },
                "nextFieldId": {
                  "description": "The incremental Field ID that will be used when the next field is created, as determined when the API call was ran.",
                  "type": "integer"
                },
                "defaultSortFieldId": {
                  "description": "The id of the field that is configured for default sorting.",
                  "type": "integer"
                },
                "defaultSortOrder": {
                  "description": "The configuration of the default sort order on the table.",
                  "enum": [
                    "ASC",
                    "DESC"
                  ],
                  "type": "string"
                },
                "keyFieldId": {
                  "description": "The id of the field that is configured to be the key on this table, which is usually the Quick Base Record ID.",
                  "type": "integer"
                },
                "singleRecordName": {
                  "description": "The builder-configured singular noun of the table.",
                  "type": "string"
                },
                "pluralRecordName": {
                  "description": "The builder-configured plural noun of the table.",
                  "type": "string"
                },
                "sizeLimit": {
                  "description": "The size limit for the table.",
                  "type": "string"
                },
                "spaceUsed": {
                  "description": "The amount of space currently being used by the table.",
                  "type": "string"
                },
                "spaceRemaining": {
                  "description": "The amount of space remaining for use by the table.",
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Create a table",
        "operationId": "createTable",
        "tags": [
          "Tables"
        ]
      },
      "get": {
        "description": "Gets a list of all the tables that exist in a specific application. The properties for each table are the same as what is returned in Get table.",
        "parameters": [
          {
            "name": "appId",
            "description": "The unique identifier of an app",
            "required": true,
            "in": "query",
            "example": "bp2ryku2u",
            "type": "string"
          },
          {
            "name": "QB-Realm-Hostname",
            "description": "Your Quick Base domain, for example demo.quickbase.com",
            "required": true,
            "in": "header",
            "example": "demo.quickbase.com",
            "type": "string"
          },
          {
            "name": "User-Agent",
            "description": "This is entered by the person or utility invoking the API. You might custom create this or use the default one of your toolkit. Being descriptive here may offer more identification and troubleshooting capabilities.",
            "required": false,
            "in": "header",
            "example": "FileService_Integration_V2.1",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "The Quick Base authentication scheme you are using to authenticate the request, as described on the [authentication page](../auth).",
            "required": true,
            "in": "header",
            "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": [
                {
                  "name": "Example Table #0",
                  "created": "2020-03-27T18:34:40.000Z",
                  "updated": "2020-04-03T19:12:40.000Z",
                  "alias": "_dbid_example_table_#0",
                  "description": "Table zero as a example.",
                  "id": "bpqe82s1",
                  "nextRecordId": 1,
                  "nextFieldId": 1,
                  "defaultSortFieldId": 2,
                  "defaultSortOrder": "ASC",
                  "keyFieldId": 3,
                  "singleRecordName": "Example Record",
                  "pluralRecordName": "Example Records",
                  "sizeLimit": "150 MB",
                  "spaceUsed": "17 MB",
                  "spaceRemaining": "133 MB"
                },
                {
                  "name": "Example Table #2",
                  "created": "2020-03-27T18:34:40.000Z",
                  "updated": "2020-04-03T19:12:40.000Z",
                  "alias": "_dbid_example_table_#2",
                  "description": "Table one as a example.",
                  "id": "bpqe82z1",
                  "nextRecordId": 10,
                  "nextFieldId": 111,
                  "defaultSortFieldId": 12,
                  "defaultSortOrder": "DESC",
                  "keyFieldId": 33,
                  "singleRecordName": "Another Record",
                  "pluralRecordName": "More Records",
                  "sizeLimit": "150 MB",
                  "spaceUsed": "22 MB",
                  "spaceRemaining": "128 MB"
                }
              ],
              "type": "array",
              "items": {
                "example": {
                  "name": "Example Table",
                  "created": "2020-03-27T18:34:40.000Z",
                  "updated": "2020-04-03T19:12:40.000Z",
                  "alias": "_dbid_example_table",
                  "description": "Table as a example.",
                  "id": "bpqe82s0",
                  "nextRecordId": 1,
                  "nextFieldId": 1,
                  "defaultSortFieldId": 2,
                  "defaultSortOrder": "ASC",
                  "keyFieldId": 3,
                  "singleRecordName": "Example Record",
                  "pluralRecordName": "Example Records",
                  "sizeLimit": "150 MB",
                  "spaceUsed": "17 MB",
                  "spaceRemaining": "133 MB"
                },
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "name": {
                    "description": "The name of the table.",
                    "type": "string"
                  },
                  "id": {
                    "description": "The unique identifier (dbid) of the table.",
                    "type": "string"
                  },
                  "alias": {
                    "description": "The automatically-created table alias for the table.",
                    "type": "string"
                  },
                  "description": {
                    "description": "The description of the table, as configured by an application administrator.",
                    "type": "string"
                  },
                  "created": {
                    "description": "The time and date when the table was created, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
                    "type": "string"
                  },
                  "updated": {
                    "description": "The time and date when the table schema or data was last updated, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
                    "type": "string"
                  },
                  "nextRecordId": {
                    "description": "The incremental Record ID that will be used when the next record is created, as determined when the API call was ran.",
                    "type": "integer"
                  },
                  "nextFieldId": {
                    "description": "The incremental Field ID that will be used when the next field is created, as determined when the API call was ran.",
                    "type": "integer"
                  },
                  "defaultSortFieldId": {
                    "description": "The id of the field that is configured for default sorting.",
                    "type": "integer"
                  },
                  "defaultSortOrder": {
                    "description": "The configuration of the default sort order on the table.",
                    "enum": [
                      "ASC",
                      "DESC"
                    ],
                    "type": "string"
                  },
                  "keyFieldId": {
                    "description": "The id of the field that is configured to be the key on this table, which is usually the Quick Base Record ID.",
                    "type": "integer"
                  },
                  "singleRecordName": {
                    "description": "The builder-configured singular noun of the table.",
                    "type": "string"
                  },
                  "pluralRecordName": {
                    "description": "The builder-configured plural noun of the table.",
                    "type": "string"
                  },
                  "sizeLimit": {
                    "description": "The size limit for the table.",
                    "type": "string"
                  },
                  "spaceUsed": {
                    "description": "The amount of space currently being used by the table.",
                    "type": "string"
                  },
                  "spaceRemaining": {
                    "description": "The amount of space remaining for use by the table.",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "operationId": "getAppTables",
        "summary": "Get tables for an app",
        "tags": [
          "Tables"
        ]
      }
    },
    "/tables/{tableId}": {
      "parameters": [
        {
          "name": "tableId",
          "description": "The unique identifier (dbid) of the table.",
          "required": true,
          "in": "path",
          "example": "bck7gp3q2",
          "type": "string"
        }
      ],
      "get": {
        "description": "Gets the properties of an individual table that is part of an application.",
        "parameters": [
          {
            "name": "appId",
            "description": "The unique identifier of an app",
            "required": true,
            "in": "query",
            "example": "bp2ryku2u",
            "type": "string"
          },
          {
            "name": "QB-Realm-Hostname",
            "description": "Your Quick Base domain, for example demo.quickbase.com",
            "required": true,
            "in": "header",
            "example": "demo.quickbase.com",
            "type": "string"
          },
          {
            "name": "User-Agent",
            "description": "This is entered by the person or utility invoking the API. You might custom create this or use the default one of your toolkit. Being descriptive here may offer more identification and troubleshooting capabilities.",
            "required": false,
            "in": "header",
            "example": "FileService_Integration_V2.1",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "The Quick Base authentication scheme you are using to authenticate the request, as described on the [authentication page](../auth).",
            "required": true,
            "in": "header",
            "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "name": "Example Table",
                "created": "2020-03-27T18:34:40.000Z",
                "updated": "2020-04-03T19:12:40.000Z",
                "alias": "_dbid_example_table",
                "description": "Table as a example.",
                "id": "bpqe82s0",
                "nextRecordId": 1,
                "nextFieldId": 1,
                "defaultSortFieldId": 2,
                "defaultSortOrder": "ASC",
                "keyFieldId": 3,
                "singleRecordName": "Example Record",
                "pluralRecordName": "Example Records",
                "sizeLimit": "150 MB",
                "spaceUsed": "17 MB",
                "spaceRemaining": "133 MB"
              },
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "name": {
                  "description": "The name of the table.",
                  "type": "string"
                },
                "id": {
                  "description": "The unique identifier (dbid) of the table.",
                  "type": "string"
                },
                "alias": {
                  "description": "The automatically-created table alias for the table.",
                  "type": "string"
                },
                "description": {
                  "description": "The description of the table, as configured by an application administrator.",
                  "type": "string"
                },
                "created": {
                  "description": "The time and date when the table was created, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
                  "type": "string"
                },
                "updated": {
                  "description": "The time and date when the table schema or data was last updated, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
                  "type": "string"
                },
                "nextRecordId": {
                  "description": "The incremental Record ID that will be used when the next record is created, as determined when the API call was ran.",
                  "type": "integer"
                },
                "nextFieldId": {
                  "description": "The incremental Field ID that will be used when the next field is created, as determined when the API call was ran.",
                  "type": "integer"
                },
                "defaultSortFieldId": {
                  "description": "The id of the field that is configured for default sorting.",
                  "type": "integer"
                },
                "defaultSortOrder": {
                  "description": "The configuration of the default sort order on the table.",
                  "enum": [
                    "ASC",
                    "DESC"
                  ],
                  "type": "string"
                },
                "keyFieldId": {
                  "description": "The id of the field that is configured to be the key on this table, which is usually the Quick Base Record ID.",
                  "type": "integer"
                },
                "singleRecordName": {
                  "description": "The builder-configured singular noun of the table.",
                  "type": "string"
                },
                "pluralRecordName": {
                  "description": "The builder-configured plural noun of the table.",
                  "type": "string"
                },
                "sizeLimit": {
                  "description": "The size limit for the table.",
                  "type": "string"
                },
                "spaceUsed": {
                  "description": "The amount of space currently being used by the table.",
                  "type": "string"
                },
                "spaceRemaining": {
                  "description": "The amount of space remaining for use by the table.",
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "getTable",
        "summary": "Get a table",
        "tags": [
          "Tables"
        ]
      },
      "post": {
        "description": "Updates the main properties of a specific table.",
        "parameters": [
          {
            "name": "appId",
            "description": "The unique identifier of an app",
            "required": true,
            "in": "query",
            "example": "bp2ryku2u",
            "type": "string"
          },
          {
            "name": "QB-Realm-Hostname",
            "description": "Your Quick Base domain, for example demo.quickbase.com",
            "required": true,
            "in": "header",
            "example": "demo.quickbase.com",
            "type": "string"
          },
          {
            "name": "User-Agent",
            "description": "This is entered by the person or utility invoking the API. You might custom create this or use the default one of your toolkit. Being descriptive here may offer more identification and troubleshooting capabilities.",
            "required": false,
            "in": "header",
            "example": "FileService_Integration_V2.1",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "The Quick Base authentication scheme you are using to authenticate the request, as described on the [authentication page](../auth).",
            "required": true,
            "in": "header",
            "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "description": "The example below shows all the properties that can be changed with this request. Additional properties that you can see with the corresponding GET request cannot be set through this API.",
              "example": {
                "name": "My table",
                "description": "my first table",
                "singleRecordName": "record",
                "pluralRecordName": "records"
              },
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "name": {
                  "description": "The name for the table.",
                  "type": "string"
                },
                "pluralRecordName": {
                  "description": "The plural noun for records in the table. If this value is not passed the default value is 'Records'.",
                  "type": "string"
                },
                "singleRecordName": {
                  "description": "The singular noun for records in the table. If this value is not passed the default value is 'Record'.",
                  "type": "string"
                },
                "description": {
                  "description": "The description for the table. If this value is not passed the default value is blank.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "name": "Example Table",
                "created": "2020-03-27T18:34:40.000Z",
                "updated": "2020-04-03T19:12:40.000Z",
                "alias": "_dbid_example_table",
                "description": "Table as a example.",
                "id": "bpqe82s0",
                "nextRecordId": 1,
                "nextFieldId": 1,
                "defaultSortFieldId": 2,
                "defaultSortOrder": "ASC",
                "keyFieldId": 3,
                "singleRecordName": "Example Record",
                "pluralRecordName": "Example Records",
                "sizeLimit": "150 MB",
                "spaceUsed": "17 MB",
                "spaceRemaining": "133 MB"
              },
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "name": {
                  "description": "The name of the table.",
                  "type": "string"
                },
                "id": {
                  "description": "The unique identifier (dbid) of the table.",
                  "type": "string"
                },
                "alias": {
                  "description": "The automatically-created table alias for the table.",
                  "type": "string"
                },
                "description": {
                  "description": "The description of the table, as configured by an application administrator.",
                  "type": "string"
                },
                "created": {
                  "description": "The time and date when the table was created, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
                  "type": "string"
                },
                "updated": {
                  "description": "The time and date when the table schema or data was last updated, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
                  "type": "string"
                },
                "nextRecordId": {
                  "description": "The incremental Record ID that will be used when the next record is created, as determined when the API call was ran.",
                  "type": "integer"
                },
                "nextFieldId": {
                  "description": "The incremental Field ID that will be used when the next field is created, as determined when the API call was ran.",
                  "type": "integer"
                },
                "defaultSortFieldId": {
                  "description": "The id of the field that is configured for default sorting.",
                  "type": "integer"
                },
                "defaultSortOrder": {
                  "description": "The configuration of the default sort order on the table.",
                  "enum": [
                    "ASC",
                    "DESC"
                  ],
                  "type": "string"
                },
                "keyFieldId": {
                  "description": "The id of the field that is configured to be the key on this table, which is usually the Quick Base Record ID.",
                  "type": "integer"
                },
                "singleRecordName": {
                  "description": "The builder-configured singular noun of the table.",
                  "type": "string"
                },
                "pluralRecordName": {
                  "description": "The builder-configured plural noun of the table.",
                  "type": "string"
                },
                "sizeLimit": {
                  "description": "The size limit for the table.",
                  "type": "string"
                },
                "spaceUsed": {
                  "description": "The amount of space currently being used by the table.",
                  "type": "string"
                },
                "spaceRemaining": {
                  "description": "The amount of space remaining for use by the table.",
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Update a table",
        "operationId": "updateTable",
        "tags": [
          "Tables"
        ]
      },
      "delete": {
        "description": "Deletes a specific table in an application, including all of the data within it.",
        "parameters": [
          {
            "name": "appId",
            "description": "The unique identifier of an app",
            "required": true,
            "in": "query",
            "example": "bp2ryku2u",
            "type": "string"
          },
          {
            "name": "QB-Realm-Hostname",
            "description": "Your Quick Base domain, for example demo.quickbase.com",
            "required": true,
            "in": "header",
            "example": "demo.quickbase.com",
            "type": "string"
          },
          {
            "name": "User-Agent",
            "description": "This is entered by the person or utility invoking the API. You might custom create this or use the default one of your toolkit. Being descriptive here may offer more identification and troubleshooting capabilities.",
            "required": false,
            "in": "header",
            "example": "FileService_Integration_V2.1",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "The Quick Base authentication scheme you are using to authenticate the request, as described on the [authentication page](../auth).",
            "required": true,
            "in": "header",
            "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "deletedTableId": "bck7gp3q2"
              },
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "deletedTableId": {
                  "description": "The deleted table id.",
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "deleteTable",
        "summary": "Delete a table",
        "tags": [
          "Tables"
        ]
      }
    },
    "/reports": {
      "get": {
        "description": "Get the schema (properties) of all reports for a table. If the user running the API is an application administrator, the API will also return all personal reports with owner's user id.",
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier of the table.",
            "required": true,
            "in": "query",
            "example": "bck7gp3q2",
            "type": "string"
          },
          {
            "name": "QB-Realm-Hostname",
            "description": "Your Quick Base domain, for example demo.quickbase.com",
            "required": true,
            "in": "header",
            "example": "demo.quickbase.com",
            "type": "string"
          },
          {
            "name": "User-Agent",
            "description": "This is entered by the person or utility invoking the API. You might custom create this or use the default one of your toolkit. Being descriptive here may offer more identification and troubleshooting capabilities.",
            "required": false,
            "in": "header",
            "example": "FileService_Integration_V2.1",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "The Quick Base authentication scheme you are using to authenticate the request, as described on the [authentication page](../auth).",
            "required": true,
            "in": "header",
            "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "type": "array",
              "items": {
                "example": {
                  "value": {
                    "id": "5",
                    "name": "table-report",
                    "type": "table",
                    "description": "This is Table report.",
                    "query": {
                      "tableId": "bpweef42b",
                      "filter": "{6.CT.'FilterByThisValue'}",
                      "formulaFields": [
                        {
                          "id": -100,
                          "label": "NumericField",
                          "fieldType": "float",
                          "formula": "1+1",
                          "decimalPrecision": 4
                        }
                      ],
                      "fields": [
                        7
                      ],
                      "sortBy": [
                        {
                          "fieldId": 28,
                          "order": "ASC"
                        },
                        {
                          "fieldId": 3,
                          "order": "ASC"
                        }
                      ],
                      "groupBy": [
                        {
                          "fieldId": 3,
                          "grouping": "equal-values"
                        }
                      ]
                    },
                    "properties": {
                      "displayOnlyNewOrChangedRecords": true
                    }
                  }
                },
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "id": {
                    "description": "The identifier of the report, unique to the table.",
                    "type": "string"
                  },
                  "name": {
                    "description": "The configured name of the report.",
                    "type": "string"
                  },
                  "type": {
                    "description": "The type of report in Quick Base (e.g., chart).",
                    "type": "string"
                  },
                  "description": {
                    "description": "The configured description of a report.",
                    "type": "string"
                  },
                  "ownerId": {
                    "description": "Optional, showed only for personal reports. The user ID of report owner.",
                    "type": "integer"
                  },
                  "query": {
                    "description": "The query definition as configured in Quick Base that gets executed when the report is run.",
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "tableId": {
                        "description": "The table identifier for the report.",
                        "type": "string"
                      },
                      "filter": {
                        "description": "Filter used to query for data.",
                        "type": "string"
                      },
                      "formulaFields": {
                        "description": "Calculated formula fields.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "id": {
                              "description": "Formula field identifier.",
                              "type": "integer"
                            },
                            "label": {
                              "description": "Formula field label.",
                              "type": "string"
                            },
                            "fieldType": {
                              "description": "Resulting formula value type.",
                              "enum": [
                                "richtext",
                                "text",
                                "float",
                                "currency",
                                "percent",
                                "rating",
                                "date",
                                "timestamp",
                                "timeofday",
                                "duration",
                                "checkbox",
                                "phone",
                                "email",
                                "userid",
                                "multiuserid",
                                "url"
                              ],
                              "type": "string"
                            },
                            "formula": {
                              "description": "Formula text.",
                              "type": "string"
                            },
                            "decimalPrecision": {
                              "description": "For numeric formula the number precision.",
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  },
                  "properties": {
                    "description": "A list of properties specific to the report type.",
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "operationId": "getTableReports",
        "summary": "Get reports for a table",
        "tags": [
          "Reports"
        ]
      }
    },
    "/reports/{reportId}": {
      "parameters": [
        {
          "name": "reportId",
          "description": "The identifier of the report, unique to the table.",
          "required": true,
          "in": "path",
          "example": "1",
          "type": "string"
        }
      ],
      "get": {
        "description": "Get the schema (properties) of an individual report.",
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier of table.",
            "required": true,
            "in": "query",
            "example": "bck7gp3q2",
            "type": "string"
          },
          {
            "name": "QB-Realm-Hostname",
            "description": "Your Quick Base domain, for example demo.quickbase.com",
            "required": true,
            "in": "header",
            "example": "demo.quickbase.com",
            "type": "string"
          },
          {
            "name": "User-Agent",
            "description": "This is entered by the person or utility invoking the API. You might custom create this or use the default one of your toolkit. Being descriptive here may offer more identification and troubleshooting capabilities.",
            "required": false,
            "in": "header",
            "example": "FileService_Integration_V2.1",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "The Quick Base authentication scheme you are using to authenticate the request, as described on the [authentication page](../auth).",
            "required": true,
            "in": "header",
            "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "value": {
                  "id": "5",
                  "name": "table-report",
                  "type": "table",
                  "description": "This is Table report.",
                  "query": {
                    "tableId": "bpweef42b",
                    "filter": "{6.CT.'FilterByThisValue'}",
                    "formulaFields": [
                      {
                        "id": -100,
                        "label": "NumericField",
                        "fieldType": "float",
                        "formula": "1+1",
                        "decimalPrecision": 4
                      }
                    ],
                    "fields": [
                      7
                    ],
                    "sortBy": [
                      {
                        "fieldId": 28,
                        "order": "ASC"
                      },
                      {
                        "fieldId": 3,
                        "order": "ASC"
                      }
                    ],
                    "groupBy": [
                      {
                        "fieldId": 3,
                        "grouping": "equal-values"
                      }
                    ]
                  },
                  "properties": {
                    "displayOnlyNewOrChangedRecords": true
                  }
                }
              },
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "id": {
                  "description": "The identifier of the report, unique to the table.",
                  "type": "string"
                },
                "name": {
                  "description": "The configured name of the report.",
                  "type": "string"
                },
                "type": {
                  "description": "The type of report in Quick Base (e.g., chart).",
                  "type": "string"
                },
                "description": {
                  "description": "The configured description of a report.",
                  "type": "string"
                },
                "ownerId": {
                  "description": "Optional, showed only for personal reports. The user ID of report owner.",
                  "type": "integer"
                },
                "query": {
                  "description": "The query definition as configured in Quick Base that gets executed when the report is run.",
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "tableId": {
                      "description": "The table identifier for the report.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Filter used to query for data.",
                      "type": "string"
                    },
                    "formulaFields": {
                      "description": "Calculated formula fields.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                          "id": {
                            "description": "Formula field identifier.",
                            "type": "integer"
                          },
                          "label": {
                            "description": "Formula field label.",
                            "type": "string"
                          },
                          "fieldType": {
                            "description": "Resulting formula value type.",
                            "enum": [
                              "richtext",
                              "text",
                              "float",
                              "currency",
                              "percent",
                              "rating",
                              "date",
                              "timestamp",
                              "timeofday",
                              "duration",
                              "checkbox",
                              "phone",
                              "email",
                              "userid",
                              "multiuserid",
                              "url"
                            ],
                            "type": "string"
                          },
                          "formula": {
                            "description": "Formula text.",
                            "type": "string"
                          },
                          "decimalPrecision": {
                            "description": "For numeric formula the number precision.",
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                },
                "properties": {
                  "description": "A list of properties specific to the report type.",
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "operationId": "getReport",
        "summary": "Get a report",
        "tags": [
          "Reports"
        ]
      }
    },
    "/reports/{reportId}/run": {
      "parameters": [
        {
          "name": "reportId",
          "description": "The identifier of the report, unique to the table.",
          "required": true,
          "in": "path",
          "example": "1",
          "type": "string"
        }
      ],
      "post": {
        "description": "Runs a report, based on an ID and returns the underlying data associated with it. The format of the data will vary based on the report type. Reports that focus on record-level data (table, calendar, etc.) return the individual records. Aggregate reports (summary, chart) will return the summarized information as configured in the report. UI-specific elements are not returned, such as totals, averages and visualizations. Returns data with intelligent pagination based on the approximate size of each record. The metadata object will include the necessary information to iterate over the response and gather more data.",
        "parameters": [
          {
            "name": "tableId",
            "description": "The identifier of the table for the report.",
            "required": true,
            "in": "query",
            "example": "bck7gp3q2",
            "type": "string"
          },
          {
            "name": "skip",
            "description": "The number of records to skip. You can set this value when paginating through a set of results.",
            "required": false,
            "in": "query",
            "example": 500,
            "type": "integer"
          },
          {
            "name": "top",
            "description": "The maximum number of records to return. You can override the default Quick Base pagination to get more or fewer results. If your requested value here exceeds the dynamic maximums, we will return a subset of results and the rest can be gathered in subsequent API calls.",
            "required": false,
            "in": "query",
            "example": 100,
            "type": "integer"
          },
          {
            "name": "QB-Realm-Hostname",
            "description": "Your Quick Base domain, for example demo.quickbase.com",
            "required": true,
            "in": "header",
            "example": "demo.quickbase.com",
            "type": "string"
          },
          {
            "name": "User-Agent",
            "description": "This is entered by the person or utility invoking the API. You might custom create this or use the default one of your toolkit. Being descriptive here may offer more identification and troubleshooting capabilities.",
            "required": false,
            "in": "header",
            "example": "FileService_Integration_V2.1",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "The Quick Base authentication scheme you are using to authenticate the request, as described on the [authentication page](../auth).",
            "required": true,
            "in": "header",
            "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "value": {
                  "data": [
                    {
                      "6": {
                        "value": "Michael Michaels"
                      },
                      "7": {
                        "value": 10
                      },
                      "8": {
                        "value": "2019-12-18T08:00:00.000Z"
                      }
                    }
                  ],
                  "fields": [
                    {
                      "id": 6,
                      "label": "Full Name",
                      "type": "text"
                    },
                    {
                      "id": 7,
                      "label": "Amount",
                      "type": "numeric"
                    },
                    {
                      "id": 8,
                      "label": "Date time",
                      "type": "date time"
                    }
                  ],
                  "metadata": {
                    "totalRecords": 10,
                    "numRecords": 1,
                    "numFields": 3,
                    "skip": 0,
                    "top": 1
                  }
                }
              },
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "fields": {
                  "description": "An array of objects that contains limited meta-data of each field displayed in the report. This assists in building logic that depends on field types and IDs.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "id": {
                        "description": "Field id.",
                        "type": "integer"
                      },
                      "label": {
                        "description": "Field label.",
                        "type": "string"
                      },
                      "type": {
                        "description": "Field type.",
                        "type": "string"
                      }
                    }
                  }
                },
                "data": {
                  "description": "An array of objects that either represents the record data or summarized values, depending on the report type.",
                  "type": "array"
                },
                "metadata": {
                  "description": "Additional information about the results that may be helpful. Pagination may be needed if either you specify a smaller number of results to skip than is available, or if the API automatically returns fewer results. numRecords can be compared to totalRecords to determine if further pagination is needed.",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "numFields",
                    "totalRecords",
                    "numRecords"
                  ],
                  "properties": {
                    "skip": {
                      "description": "The number of records to skip",
                      "type": "integer"
                    },
                    "numFields": {
                      "description": "The number of fields in each record in the current response object",
                      "type": "integer"
                    },
                    "top": {
                      "description": "If present, the maximum number of records requested by the caller",
                      "type": "integer"
                    },
                    "totalRecords": {
                      "description": "The total number of records in the result set",
                      "type": "integer"
                    },
                    "numRecords": {
                      "description": "The number of records in the current response object",
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Run a report",
        "operationId": "runReport",
        "tags": [
          "Reports"
        ]
      }
    },
    "/fields": {
      "get": {
        "description": "Gets the properties for all fields in a specific table. The properties for each field are the same as in Get field.",
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier (dbid) of the table.",
            "required": true,
            "in": "query",
            "example": "bck7gp3q2",
            "type": "string"
          },
          {
            "name": "includeFieldPerms",
            "description": "Set to 'true' if you'd like to get back the custom permissions for the field(s).",
            "required": false,
            "in": "query",
            "default": false,
            "example": false,
            "type": "boolean"
          },
          {
            "name": "QB-Realm-Hostname",
            "description": "Your Quick Base domain, for example demo.quickbase.com",
            "required": true,
            "in": "header",
            "example": "demo.quickbase.com",
            "type": "string"
          },
          {
            "name": "User-Agent",
            "description": "This is entered by the person or utility invoking the API. You might custom create this or use the default one of your toolkit. Being descriptive here may offer more identification and troubleshooting capabilities.",
            "required": false,
            "in": "header",
            "example": "FileService_Integration_V2.1",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "The Quick Base authentication scheme you are using to authenticate the request, as described on the [authentication page](../auth).",
            "required": true,
            "in": "header",
            "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": [
                {
                  "id": 1,
                  "label": "Field1",
                  "fieldType": "text",
                  "noWrap": false,
                  "bold": false,
                  "required": false,
                  "appearsByDefault": false,
                  "findEnabled": false,
                  "allowNewChoices": false,
                  "sortAsGiven": false,
                  "carryChoices": false,
                  "foreignKey": false,
                  "unique": false,
                  "doesDataCopy": false,
                  "fieldHelp": "field help",
                  "audited": false,
                  "numLines": 1,
                  "maxLength": 0,
                  "appendOnly": false,
                  "allowHTML": false,
                  "permissions": [
                    {
                      "role": "Viewer",
                      "permissionType": "View",
                      "permissionId": 1
                    },
                    {
                      "role": "Participant",
                      "permissionType": "None",
                      "permissionId": 0
                    },
                    {
                      "role": "Administrator",
                      "permissionType": "Modify",
                      "permissionId": 5
                    }
                  ]
                },
                {
                  "id": 2,
                  "fieldType": "numeric",
                  "label": "numeric",
                  "nowrap": true,
                  "bold": false,
                  "required": false,
                  "appearsByDefault": true,
                  "findEnabled": false,
                  "allowNewChoices": false,
                  "sortAsGiven": true,
                  "carryChoices": true,
                  "foreignKey": false,
                  "unique": false,
                  "doesDataCopy": true,
                  "audited": false,
                  "commaStart": 4,
                  "numberFormat": 0,
                  "doesAverage": false,
                  "doesTotal": true,
                  "blankIsZero": true,
                  "permissions": [
                    {
                      "role": "Viewer",
                      "permissionType": "View",
                      "roleId": 10
                    },
                    {
                      "role": "Participant",
                      "permissionType": "Modify",
                      "roleId": 11
                    },
                    {
                      "role": "Administrator",
                      "permissionType": "Modify",
                      "roleId": 12
                    }
                  ]
                }
              ],
              "type": "array",
              "items": {
                "example": {
                  "id": 123,
                  "label": "Field1",
                  "fieldType": "text",
                  "mode": "",
                  "noWrap": false,
                  "bold": false,
                  "required": false,
                  "appearsByDefault": false,
                  "findEnabled": false,
                  "unique": false,
                  "doesDataCopy": false,
                  "fieldHelp": "field help",
                  "audited": false,
                  "properties": {
                    "primaryKey": false,
                    "foreignKey": false,
                    "numLines": 1,
                    "maxLength": 0,
                    "appendOnly": false,
                    "allowHTML": false,
                    "sortAsGiven": false,
                    "carryChoices": true,
                    "allowNewChoices": false,
                    "formula": "",
                    "defaultValue": ""
                  },
                  "permissions": [
                    {
                      "permissionType": "View",
                      "role": "Viewer",
                      "roleId": 10
                    },
                    {
                      "permissionType": "None",
                      "role": "Participant",
                      "roleId": 11
                    },
                    {
                      "permissionType": "Modify",
                      "role": "Administrator",
                      "roleId": 12
                    }
                  ]
                },
                "type": "object",
                "additionalProperties": true,
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "description": "The id of the field, unique to this table.",
                    "type": "integer",
                    "format": "int64"
                  },
                  "fieldType": {
                    "description": "The type of field, as described [here](https://help.quickbase.com/user-assistance/field_types.html).",
                    "type": "string"
                  },
                  "mode": {
                    "description": "Only present for derived fields. Lookup, summary or virtual (formula).",
                    "type": "string"
                  },
                  "label": {
                    "description": "The label (name) of the field.",
                    "type": "string"
                  },
                  "noWrap": {
                    "description": "Indicates if the field is configured to not wrap when displayed in the product.",
                    "type": "boolean"
                  },
                  "bold": {
                    "description": "Indicates if the field is configured to display in bold in the product.",
                    "type": "boolean"
                  },
                  "required": {
                    "description": "Indicates if the field is marked required.",
                    "type": "boolean"
                  },
                  "appearsByDefault": {
                    "description": "Indicates if the field is marked as a default in reports.",
                    "type": "boolean"
                  },
                  "findEnabled": {
                    "description": "Indicates if the field is marked as searchable.",
                    "type": "boolean"
                  },
                  "allowNewChoices": {
                    "description": "Indicates if users can add new choices to a selection list.",
                    "type": "boolean"
                  },
                  "sortAsGiven": {
                    "description": "Indicates if the listed entries sort as entered vs alphabetically.",
                    "type": "boolean"
                  },
                  "carryChoices": {
                    "description": "Whether the field should carry its multiple choice fields when copied.",
                    "type": "boolean"
                  },
                  "foreignKey": {
                    "description": "Indicates if the field is a foreign key (or reference field) in a relationship.",
                    "type": "boolean"
                  },
                  "unique": {
                    "description": "Indicates if the field is marked unique.",
                    "type": "boolean"
                  },
                  "doesDataCopy": {
                    "description": "Indicates if the field data will copy when a user copies the record.",
                    "type": "boolean"
                  },
                  "fieldHelp": {
                    "description": "The configured help text shown to users within the product.",
                    "type": "string"
                  },
                  "audited": {
                    "description": "Indicates if the field is being tracked as part of Quick Base Audit Logs.",
                    "type": "boolean"
                  },
                  "numLines": {
                    "description": "The number of lines shown in the Quick Base product for this text field.",
                    "type": "integer"
                  },
                  "maxLength": {
                    "description": "The maximum number of characters allowed for entry in the Quick Base product for this field.",
                    "type": "integer"
                  },
                  "appendOnly": {
                    "description": "Whether this field is append only.",
                    "type": "boolean"
                  },
                  "allowHTML": {
                    "description": "Whether this field allows html.",
                    "type": "boolean"
                  },
                  "hasExtension": {
                    "description": "Whether this field has a phone extension.",
                    "type": "boolean"
                  },
                  "units": {
                    "description": "The units label.",
                    "type": "string"
                  },
                  "decimalPlaces": {
                    "description": "The number of decimal places displayed in the product for this field.",
                    "type": "integer"
                  },
                  "commaStart": {
                    "description": "The number of digits before commas display in the product, when applicable.",
                    "type": "integer"
                  },
                  "numberFormat": {
                    "description": "The format used for displaying numeric values in the product (decimal, separators, digit group).",
                    "type": "integer"
                  },
                  "doesAverage": {
                    "description": "Whether this field averages in reports within the product.",
                    "type": "boolean"
                  },
                  "doesTotal": {
                    "description": "Whether this field totals in reports within the product.",
                    "type": "boolean"
                  },
                  "blankIsZero": {
                    "description": "Whether a blank value is treated the same as 0 in calculations within the product.",
                    "type": "boolean"
                  },
                  "currencySymbol": {
                    "description": "The current symbol used when displaying field values within the product.",
                    "type": "string"
                  },
                  "currencyFormat": {
                    "description": "The currency format used when displaying field values within the product.",
                    "type": "string"
                  },
                  "displayTime": {
                    "description": "Indicates whether to display the time, in addition to the date.",
                    "type": "boolean"
                  },
                  "displayRelative": {
                    "description": "Whether to display time as relative.",
                    "type": "boolean"
                  },
                  "displayMonth": {
                    "description": "How to display months.",
                    "type": "string"
                  },
                  "defaultToday": {
                    "description": "Indicates if the field value is defaulted today for new records.",
                    "type": "boolean"
                  },
                  "displayDayOfWeek": {
                    "description": "Indicates whether to display the day of the week within the product.",
                    "type": "boolean"
                  },
                  "displayTimezone": {
                    "description": "Indicates whether to display the timezone within the product.",
                    "type": "boolean"
                  },
                  "workWeek": {
                    "description": "The work week type.",
                    "type": "integer"
                  },
                  "startField": {
                    "description": "The start field id.",
                    "type": "integer"
                  },
                  "durationField": {
                    "description": "The duration field id.",
                    "type": "integer"
                  },
                  "format": {
                    "description": "The format to display time.",
                    "type": "integer"
                  },
                  "hours24": {
                    "description": "Indicates whether or not to display time in the 24-hour format within the product.",
                    "type": "boolean"
                  },
                  "displayUser": {
                    "description": "The configured option for how users display within the product.",
                    "type": "string"
                  },
                  "defaultKind": {
                    "description": "The user default type.",
                    "type": "string"
                  },
                  "defaultValueLuid": {
                    "description": "Default user id value.",
                    "type": "integer"
                  },
                  "choicesLuid": {
                    "description": "List of user choices.",
                    "type": "array"
                  },
                  "choices": {
                    "description": "An array of entries that exist for a field that offers choices to the user.",
                    "type": "array"
                  },
                  "compositeFields": {
                    "description": "An array of the fields that make up a composite field (e.g., address).",
                    "type": "array"
                  },
                  "targetTableId": {
                    "description": "The id of the target table.",
                    "type": "string"
                  },
                  "targetFieldId": {
                    "description": "The id of the target field.",
                    "type": "integer"
                  },
                  "sourceFieldId": {
                    "description": "The id of the source field.",
                    "type": "integer"
                  },
                  "useNewWindow": {
                    "description": "Indicates if the URL should open a new window when a user clicks it within the product.",
                    "type": "boolean"
                  },
                  "linkText": {
                    "description": "The configured text value that replaces the URL that users see within the product.",
                    "type": "string"
                  },
                  "exact": {
                    "description": "Whether an exact match is required for a report link.",
                    "type": "boolean"
                  },
                  "displayImages": {
                    "description": "Indicates whether images will display for file attachments on forms and reports within the product.",
                    "type": "boolean"
                  },
                  "defaultDomain": {
                    "description": "Default email domain.",
                    "type": "string"
                  },
                  "displayEmail": {
                    "description": "How the email is displayed.",
                    "type": "string"
                  },
                  "appearsAs": {
                    "description": "The link text, if empty, the url will be used as link text.",
                    "type": "string"
                  },
                  "abbreviate": {
                    "description": "Don't show the URL protocol when showing the URL.",
                    "type": "boolean"
                  },
                  "autoSave": {
                    "description": "Whether the link field will auto save.",
                    "type": "boolean"
                  },
                  "targetTableName": {
                    "description": "The field's target table name.",
                    "type": "string"
                  },
                  "displayAsLink": {
                    "description": "Indicates if a field that is part of the relationship should be shown as a hyperlink to the parent record within the product.",
                    "type": "boolean"
                  },
                  "sortAlpha": {
                    "description": "Whether to sort alphabetically, default sort is by record ID.",
                    "type": "boolean"
                  },
                  "versionMode": {
                    "description": "Version modes for files. Keep all versions vs keep last version.",
                    "type": "integer"
                  },
                  "maxVersions": {
                    "description": "The maximum number of versions configured for a file attachment.",
                    "type": "integer"
                  },
                  "seeVersions": {
                    "description": "Indicates if the user can see other versions, aside from the most recent, of a file attachment within the product.",
                    "type": "boolean"
                  },
                  "width": {
[...]
